.place-items-center {
  display: grid;
  place-items: center;
}

.self-center {
  align-self: center;
}

/* sidebar chat specific */

.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  align-items: center;
}